<head>
    <title>Cadastro</title>
    </head>
    <body class="form_centro Fundo_degra">
        <%- include('menu'); %>
        <%- include('style'); %>
      <form method="post" class="form_estilo" enctype="multipart/form-data" style=" box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <h2>Crie Sua Conta!</h2>
      </br>
        <input type="text" name="nome" placeholder="Nome" class="campos_form" required>
        <input type="email" name="email" placeholder="Email" class="campos_form" required>
        <input type="password" name="senha" placeholder="Senha" class="campos_form" required>
        <input type="file" name="foto" accept="image/*" class="campos_form">
        <input type="submit" value="Cadastrar" class="btn_cor campo_enviar"><br><br>
        <a href="/login">Já tem uma conta? faça login aqui!</a>
      </form>
    </body>