<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>
<h1>futebol</h1>
    <h1 class="titulosEsportes"> Futebol</h1>
    <h2 class="subtitulosEsportes"> O que é?</h2>
</body>