<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>



 <!-- Contêiner flexível -->
 <div class="quadradoTexto d-flex flex-column align-items-center mt-4" style="min-height: calc(100vh - 100px);">
    <h1 class="tituloEsporte">Futebol</h1>

    <!-- Contêiner para o texto -->
    <div class="containerEsporteTexto d-flex flex-column align-items-center mt-4">

    <div class="forumLink">
        <a href="/forumFut" class="btn botaoTextoForum d-flex align-items-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left-text chatIcon" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
              </svg>
           Com Dúvidas? Faça uma pergunta no fórum!
        </a>
    </div>

        <h2 class="subtitulosEsportes text-center">História do Futebol</h2>
        <h4>Origens Antigas</h4>
        <p>O futebol tem raízes que remontam a civilizações antigas. Jogos semelhantes ao futebol foram praticados na China, Grécia e Roma.
         Um dos primeiros registros de um jogo com características do futebol moderno é encontrado na dinastia Han, na China, por volta de 206
          a.C. a 220 d.C., onde um jogo chamado "cuju" era jogado com uma bola feita de couro.</p>
          <h4>A Popularização Global</h4>
          <p>O futebol moderno começou a tomar forma no século XIX na Inglaterra. Em 1863, foi fundada a Football Association (FA), que estabeleceu as primeiras regras oficiais do jogo.
             A partir daí, o esporte se espalhou rapidamente pela Europa e pelo mundo. A FIFA (Fédération Internationale de Football 
             Association) foi criada em 1904 para governar o futebol internacionalmente. O primeiro torneio da Copa do Mundo foi realizado em
              1930 no Uruguai, marcando um marco importante na popularização do esporte.</p>

              <!-- <h4>Regras</h4>
              <h4>Estrutura Básica</h4>
              <p>O futebol é jogado entre duas equipes, cada uma composta por 11 jogadores. O objetivo é marcar mais gols que o 
                adversário, colocando a bola na rede do time oposto. O jogo é dividido em dois tempos de 45 minutos cada.</p>
                <h4>Campo de Jogo</h4>
                <p>O campo deve ter dimensões específicas, geralmente entre 90 a 120 metros de comprimento e 45 a 90 metros de largura. 
                    As balizas têm 7,32 metros de largura.</p> -->
    </div>
</div>

</body>