<head>
  <title>Inicio</title>
  </head>
  
<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>
  
    </style>

    <body class="Fundo_degra">
      <%- include('menu'); %>
      <%- include('style'); %>
    
      <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="fraseInicio mb-4">Aprenda e Aprimore</h1>
            <h1 class="fraseInicio">no esporte se transforme</h1>
          </div>
        </div>
      </div>
    </body>

</body>
