<head>
  <title>Inicio</title>
  </head>
  
<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>
  
    </style>

    <div class="container mt-10 d-flex justify-content-center align-items-center vh-100">
      <div class="row">
        <div class="col-md-12">
          <div class="fraseInicio">
            Aprenda e Aprimore
          </div>
          <div class="fraseInicio">
            no esporte se transforme
          </div>
        </div>
      </div>
    </div>

</body>
