<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>



 <!-- Contêiner flexível -->
 <div class="quadradoTexto d-flex flex-column align-items-center mt-4" style="min-height: calc(100vh - 100px);">
    <h1 class="tituloEsporte">Sobre Nós</h1> <!-- Título fora do quadrado -->
    <!-- Contêiner para o texto -->
    <div class="containerEsporteTexto">
        <h2 class="subtitulosEsportes text-center">Quem Somos?</h2>
        <p> Quem somos estará escrito aqui</p>
    </div>
</div>

</body>